.cart{
    position: sticky;
    top: 0;
    padding: 30px 20px;
    
}
.sapce-between{
    display: flex;
    justify-content: space-between;
}
.cart-delete-container{
    display: flex;
    align-items: center;
}
.cart-delete-container button{
    background-color:#FF3030 ;
    padding: 8px;
    color: antiquewhite;
    border-radius: 3px; 
    margin-top: 20px; 
    width: 190px;
    height: 48px;
}
.cart-delete-icon{
    color: azure;
    font-size: 31px;
}